<div>
  <form action="/beer/create" method="POST">
    <label for="label-name">Nombre</label>
    <input type="text" name="name" id="label-name">

    <label for="label-style">Estilo</label>
    <input type="text" name="style" id="label-style">

    <label for="label-abv">ABV</label>
    <input type="number" name="abv" id="label-abv">

    <label for="label-ibu">IBU</label>
    <input type="number" name="ibu" id="label-ibu">

    <label for="label-description">Descripción</label>
    <textarea type="text" name="description" id="label-description"></textarea>

    <label for="label-pairing">Maridaje</label>
    <textarea type="text" name="pairing" id="label-pairing"></textarea>

    <button type="submit">¡Crear cheve!</button>
  </form>
</div>